<div class="conan2d20 chat roll">
    <div class="foreground border flow">
        <div class="avatar-container">
            <div class="avatar">
                <img class="profile-img" src="{{image}}" title="{{name}}"/>
            </div>
            <h4>{{name}}</h4>
        </div>
        <div class="data">
            <h3>{{title}}</h3>
            <hr class="separator"/>
            <h4>{{damageCount}} {{localize "CHAT.DAMAGE"}}</h4>
            <h4>{{effectCount}} {{localize "CHAT.EFFECT"}}</h4>
            <h4>{{effects}}</h4>
            <hr class="separator"/>
            <h5>Results: {{diceResult}}, Re-roll {{reroll}}</h5>
        </div>
    </div>
</div>
