<div class="conan2d20 chat roll">
    <div class="foreground border flow">
        <div class="avatar-container">
            <div class="avatar">
                <img class="profile-img" src="{{image}}" title="{{name}}"/>
            </div>
            <h4>{{name}}</h4>
        </div>
        <div class="data">
            <h3>{{title}}</h3>
            <hr class="separator"/>
            <h4>{{successCount}} {{localize "CHAT.SUCCEED"}}</h4>
            <h4>{{complicationCount}} {{localize "CHAT.COMPLICATION"}}</h4>
            <hr class="separator"/>
            <h5>Results: {{diceResult}}, Re-roll [[/roll 1d20]]</h5>
        </div>
    </div>
</div>
