.conan2d20.sheet.item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;

    height: 100%;
    width: 100%;
}

.conan2d20.sheet.item .sheet-header {
    display: flex;
    flex-direction: row;
    /*width: 100%;*/
    width: 400px;
}

.conan2d20.sheet.item .sheet-header .avatar {
    background: url(../../asset/image/editable.jpg) repeat;
    border: 1px solid black;
    box-shadow: inset 0 0 6px black;
    flex: 0 0 auto;
    height: 100px;
    margin: 10px 0 10px 10px;
    width: 100px;
}

.conan2d20.sheet.item .sheet-header .avatar img {
    border: 0 none;
    width: 100px;
    height: 100px;
    margin: auto;
}

.conan2d20.sheet.item .sheet-header .avatar img:hover {
    box-shadow: none;
    cursor: pointer;
}

.conan2d20.sheet.item .sheet-tabs {

    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 18px;
    padding: 5px;
    background: url(../../asset/image/title.jpg) repeat;
    font-family: var(--font-text);
    height: 35px;
    max-height: 35px;
    width: 100%;
}

.conan2d20.sheet.item .sheet-tabs .item {
    color: var(--color-title);
}

.conan2d20.sheet.item .sheet-tabs .item:hover {
    color: var(--color-active);
    text-shadow: 0 0 10px var(--color-active);
}

.conan2d20.sheet.item .sheet-tabs .item.active {
    color: var(--color-active);
    text-shadow: 0 0 10px var(--color-active);
}

.conan2d20.sheet.item .sheet-body {
    width: 100%;
}

.conan2d20.sheet.item .flex-container{
    display: flex;
    flex-flow: column nowrap;
    width:100%;
    margin: -5px 10px;
}

.conan2d20.sheet.item .flex-row {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    width:100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

/** **/
.conan2d20.sheet.item .mini{
    margin-right: 2px;
    margin-left: 2px;
    min-width: 30px;
    width: 30px;
}

.conan2d20.sheet.item .small{
    margin-right: 2px;
    margin-left: 2px;
    min-width: 50px;
    width: 50px;
}

.conan2d20.sheet.item .medium{
    margin-right: 2px;
    margin-left: 2px;
    min-width: 120px;
    width: 160px;
}

.conan2d20.sheet.item .large{
    margin-right: 2px;
    margin-left: 2px;
    width: 240px;
    min-width: 280px;
}

/** Editor **/
.conan2d20.sheet.item .wrapper {
    margin-right: 20px;
}

.conan2d20.sheet.item .editor,
.conan2d20.sheet.item .editor-content {
    font-family: var(--font-text);
    font-size: 14px;
    color: var(--color-text);
    height: 100%;
    width: 100%;
    background: url(../../asset/image/editable.jpg) repeat;
    box-shadow: inset 0 0 6px black;
}

.conan2d20.sheet.item .editor {
    margin: 10px;
    border: 1px solid var(--color-border);
    height: 200px;
}

.conan2d20.sheet.item .editor-content {
    padding: 5px;
}

.conan2d20.sheet.item .editor .tox .tox-tbtn svg {
    fill: var(--color-title);
}

.conan2d20.sheet.item .editor .tox .tox-toolbar__primary {
    background: url(../../asset/image/title.jpg) repeat;
}

.conan2d20.sheet.item .editor .tox .tox-tbtn svg:hover {
    fill: var(--color-active);
    text-shadow: 0 0 10px var(--color-active);
    box-shadow: none;
}