.conan2d20.chat.roll {
    color: var(--color-text);
    font-family: var(--font-text);
    font-size: 12px;
    line-height: 16px;
}

.conan2d20.chat.roll .foreground {
    background: url(../../asset/image/editable.jpg) repeat;
    padding: 10px;
}

.conan2d20.chat.roll .border {
    border: 1px solid transparent;
    border-image: url(../../asset/image/title.jpg) 20/5px round;
}

.conan2d20.chat.roll strong {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.conan2d20.chat.roll h3 {
    font-family: var(--font-text);
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 8px;
    text-align: center;
}

.conan2d20.chat.roll h4 {
    font-family: var(--font-text);
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.conan2d20.chat.roll h5 {
    font-family: var(--font-text);
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    text-align: center;
}

.conan2d20.chat.roll .avatar-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.conan2d20.chat.roll .avatar {
    border: 1px solid black;
    box-shadow: inset 0 0 6px black;
    flex: 0 0 auto;
    height: 70px;
    margin: 5px 0 5px 5px;
    width: 70px;
}

.conan2d20.chat.roll .avatar img {
    border: 0 none;
    width: 70px;
    height: 70px;
    margin: auto;
}

.conan2d20.chat.roll .data {
    margin-left: 10px;
    width: 100%;
}

.conan2d20.chat.roll .flow {
    display: flex;
}

.conan2d20.chat.roll .separator {
    border-top: 2px solid black;
    border-radius: 1px;
}