<form class="{{cssClass}}" autocomplete="off">
    <div class="attack">
        <div class="sheet-header foreground border">
            <div class="row">
                <div class="col-avatar">
                    <div class="avatar">
                        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
                    </div>
                    <div>
                        <button class="roll-attack">Roll attack</button>
                        <button class="roll-damage">Roll damage</button>
                    </div>
                </div>

                <div class="col">
                    <div class="npc-attributes">
                        <div class="grid">
                            <div class="item-1 grid-header">Name</div>
                            <div class="item-2 grid-header">Type</div>
                            <div class="item-3 grid-header">
                                {{#if (eq data.type "range")}}Range{{/if}}
                                {{#if (eq data.type "melee")}}Reach{{/if}}
                            </div>

                            <div class="item-1 grid-item">
                                <input class="medium" name="name" type="text" value="{{item.name}}" placeholder="Name"/>
                            </div>
                            <div class="item-2 grid-item">
                                <select class="medium" name="data.type">
                                    {{#select data.type}}
                                    <option value="melee">Melee</option>
                                    <option value="range">Range</option>
                                    <option value="mental">Mental</option>
                                    {{/select}}
                                </select>
                            </div>
                            <div class="item-3 grid-item">
                                {{#if (eq data.type "range")}}
                                <select class="medium" name="data.range">
                                    {{#select data.range}}
                                    <option value="close">Close</option>
                                    <option value="medium">Medium</option>
                                    <option value="long">Long</option>
                                    {{/select}}
                                </select>
                                {{/if}}
                                {{#if (eq data.type "melee")}}
                                <select class="medium" name="data.range">
                                    {{#select data.range}}
                                    <option value="reach-1">1</option>
                                    <option value="reach-2">2</option>
                                    <option value="reach-3">3</option>
                                    {{/select}}
                                </select>
                                {{/if}}
                            </div>
                        </div>

                        <div class="grid">
                            <div class="item-1 grid-header">Size</div>
                            <div class="item-2 grid-header">Combat skill</div>
                            <div class="item-3 grid-header">Combat focus</div>
                            <div class="item-4 grid-header">Damage</div>

                            <div class="item-1 grid-item">
                                <select class="medium" name="data.size">
                                    {{#select data.size}}
                                    <option value="1H">One-handed</option>
                                    <option value="2H">Two-handed</option>
                                    <option value="Unbalanced">Unbalanced</option>
                                    <option value="Unwieldy">Unwieldy</option>
                                    <option value="Fixed">Fixed</option>
                                    <option value="Monstrous">Monstrous</option>
                                    {{/select}}
                                </select>
                            </div>
                            <div class="item-2 grid-item">
                                <input class="small" type="text" name="data.combatSkill" value="{{data.combatSkill}}"
                                       data-dtype="Number"/>
                            </div>
                            <div class="item-3 grid-item">
                                <input class="small" type="text" name="data.combatFocus" value="{{data.combatFocus}}"
                                       data-dtype="Number"/>
                            </div>
                            <div class="item-4 grid-item">
                                <input class="small" type="text" name="data.damage" value="{{data.damage}}"
                                       data-dtype="Number"/>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="item-1 grid-header">Qualities</div>
                            <div class="item-1 grid-item">
                                <input class="medium" type="text" name="data.qualities" value="{{data.qualities}}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>