<form class="{{cssClass}}" autocomplete="off">
    <div class="player">
        <div class="sheet-header foreground border">
            <div class="avatar">
                <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
            </div>

            <div class="flex-container">
                <div class="flex-row">
                    <div>
                        <label>{{localize "BIO.NAME"}}</label>
                        <input class="medium" name="name" type="text" value="{{actor.name}}"/>
                    </div>
                    <div>
                        <label>{{localize "BIO.AGE"}}</label>
                        <input class="mini center" name="data.bio.age" type="number" value="{{actor.data.bio.age}}" data-dtype="Number" />
                    </div>
                    <div>
                        <label>{{localize "BIO.RENOWN"}}</label>
                        <input class="mini center" name="data.bio.renown" type="number" value="{{actor.data.bio.renown}}" data-dtype="Number" />
                    </div>
                    <div>
                        <label>{{localize "BIO.STANDING"}}</label>
                        <input class="mini center" name="data.bio.standing" type="number" value="{{actor.data.bio.standing}}" data-dtype="Number" />
                    </div>
                </div>

                <div class="flex-row">
                    <div>
                        <label>{{localize "BIO.TRAIT"}}</label>
                        <input class="medium" name="data.bio.trait" type="text" value="{{actor.data.bio.trait}}"/>
                    </div>
                    <div>
                        <label>{{localize "BIO.NATURE"}}</label>
                        <input class="medium" name="data.bio.nature" type="text" value="{{actor.data.bio.nature}}"/>
                    </div>
                </div>

                <div class="flex-row">
                    <div>
                        <label>{{localize "BIO.LANGUAGES"}}</label>
                        <input class="large" name="data.bio.languages" type="text" value="{{actor.data.bio.languages}}"/>
                    </div>
                    <div>
                        <label>{{localize "EXPERIENCE"}}</label>
                        <input class="small center" name="data.experience.current" value="{{actor.data.experience.current}}"
                               data-dtype="Number" type="number"/>
                        /
                        <input class="small center" name="data.experience.total" value="{{actor.data.experience.total}}"
                               data-dtype="Number" type="number"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="sheet-tabs tabs" data-group="primary">
            <b class="item" data-tab="main">{{localize "TAB.MAIN"}}</b>
            <b class="item" data-tab="attributes">{{localize "TAB.ATTRIBUTES"}}</b>
            <b class="item" data-tab="equipment">{{localize "TAB.EQUIPMENT"}}</b>
            <b class="item" data-tab="note">{{localize "TAB.NOTES"}}</b>
        </div>

        <div class="sheet-body">
            <div class="tab" data-group="primary" data-tab="main">
                {{> systems/conan2d20/template/sheet/tab/player-main.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="attributes">
                {{> systems/conan2d20/template/sheet/tab/player-attribute.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="equipment">
                {{> systems/conan2d20/template/sheet/tab/player-equipment.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="note">
                {{> systems/conan2d20/template/sheet/tab/player-note.html}}
            </div>
        </div>
    </div>
</form>
