.conan2d20.sheet.actor .wrapper {
    margin-right: 20px;
}

.conan2d20.sheet.actor .editor,
.conan2d20.sheet.actor .editor-content {
    font-family: var(--font-text);
    font-size: 14px;
    color: var(--color-text);
    height: 100%;
    width: 100%;
    background: url(../../../asset/image/editable.jpg) repeat;
    box-shadow: inset 0 0 6px black;
}

.conan2d20.sheet.actor .editor {
    margin: 10px;
    border: 1px solid var(--color-border);
    height: 200px;
}

.conan2d20.sheet.actor .editor-content {
    padding: 5px;
}

.conan2d20.sheet.actor .editor .tox .tox-tbtn svg {
    fill: var(--color-title);
}

.conan2d20.sheet.actor .editor .tox .tox-toolbar__primary {
    background: url(../../../asset/image/title.jpg) repeat;
}

.conan2d20.sheet.actor .editor .tox .tox-tbtn svg:hover {
    fill: var(--color-active);
    text-shadow: 0 0 10px var(--color-active);
    box-shadow: none;
}