<div>
    {{#if displayMomentumDoom}}
    <div class="conan2d20 conan-counter">
        <div class="counter" data-type="momentum">
            <h3>Momentum</h3>
            <div class="input-controls">
                <b><a class="button positive decr">-</a></b>
                <span class="value">{{momentum}}</span>
                <b><a class="button positive incr">+</a></b>
            </div>
        </div>
        <div class="counter" data-type="doom">
            <h3>Doom</h3>
            <div class="input-controls">
                <b><a class="button negative decr">-</a></b>
                <span class="value">{{doom}}</span>
                <b><a class="button negative incr">+</a></b>
            </div>
        </div>
    </div>
    {{/if}}
</div>