<div class="attack">

    <h1>{{localize "TITLE.ATTACKS"}}</h1>
    <div class="row">
        <div class="foreground border">
            <button class="attack-melee-create button-auto" data-attribute="{{item._id}}">
                <i class="fas fa-plus"></i> New melee attack
            </button>
            <button class="attack-ranged-create button-auto" data-attribute="{{item._id}}">
                <i class="fas fa-plus"></i> New range attack
            </button>

            <table>
                <thead>
                <tr>
                    <th>{{localize "ATTACK.NAME"}}</th>
                    <th class="center">{{localize "ATTACK.TYPE"}}</th>
                    <th class="center">{{localize "ATTACK.RANGE"}}</th>
                    <th class="center">{{localize "ATTACK.SIZE"}}</th>
                    <th class="center">{{localize "ATTACK.SKILL"}}</th>
                    <th class="center">{{localize "ATTACK.DAMAGE"}}</th>
                    <th>{{localize "ATTACK.ACTIONS"}}</th>
                </tr>
                </thead>
                <tbody>
                {{#each data.attacks as |item key|}}
                <tr>
                    <td>{{item.name}}</td>
                    <td class='center'>{{item.data.type}}</td>
                    <td class='center'>{{item.data.range}}</td>
                    <td class='center'>{{item.data.size}}</td>
                    <td class='center'>
                        <button class="attack-roll button-auto" data-attribute="{{item._id}}">
                            {{item.data.combatSkill}}({{item.data.combatFocus}})
                        </button>
                    </td>
                    <td class='center'>
                        <button class="damage-roll button-auto" data-attribute="{{item._id}}">{{item.data.damage}}
                        </button>
                    </td>
                    <td>
                        <button class="attack-view button-auto" data-attribute="{{item._id}}">
                            <i class="fas fa-edit"></i></button>
                        <button class="attack-delete button-auto" data-attribute="{{item._id}}">
                            <i class="fas fa-trash-alt"></i></button>
                    </td>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
