<div class="main">

    <div class="health foreground border">
        <h1>{{localize "TITLE.HEALTH"}}</h1>
        <div class="column-4-fluid">
            <div class="column-container foreground border">
                <table>
                    <tr>
                        <th colSpan='3'>{{localize "HEALTH.VIGOR"}}</th>
                    </tr>
                    <tr>
                        <td class="center right">
                            <input class='mini center' data-dtype="Number" type="number"
                                   name="data.health.vigor.value" value="{{data.health.vigor.value}}" />
                        </td>
                        <td class="center">/</td>
                        <td class="center left">
                            <input class='mini center' data-dtype="Number" type="number"
                                   name="data.health.vigor.max" value="{{data.health.vigor.max}}" />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="column-container foreground border">
                <table>
                    <tr>
                        <th class="conan-title" colSpan='3'>{{localize "HEALTH.WOUND"}}</th>
                    </tr>
                    <tr>
                        <td class="center right">
                            <input class='mini center' data-dtype="Number" type="number"
                                   name="data.health.wound.value" value="{{data.health.wound.value}}" />
                        </td>
                        <td class="center">/</td>
                        <td class="center left">
                            <input class='mini center' data-dtype="Number" type="number"
                                   name="data.health.wound.max" value="{{data.health.wound.max}}" />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="column-container foreground border">
                <table>
                    <tr>
                        <th class="conan-title" colSpan='3'>{{localize "HEALTH.RESOLVE"}}</th>
                    </tr>
                    <tr>
                        <td class="center right">
                            <input class='small center' data-dtype="Number" type="number"
                                   name="data.health.resolve.value" value="{{data.health.resolve.value}}" />
                        </td>
                        <td class="center">/</td>
                        <td class="center left">
                            <input class='small center' data-dtype="Number" type="number"
                                   name="data.health.resolve.max" value="{{data.health.resolve.max}}" />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="column-container foreground border">
                <table>
                    <tr>
                        <th class="conan-title" colSpan='3'>{{localize "HEALTH.TRAUMA"}}</th>
                    </tr>
                    <tr>
                        <td class="center right">
                            <input class='small center' data-dtype="Number" type="number"
                                   name="data.health.trauma.value" value="{{data.health.trauma.value}}" />
                        </td>
                        <td class="center">/</td>
                        <td class="center left">
                            <input class='small center' data-dtype="Number" type="number"
                                   name="data.health.trauma.max" value="{{data.health.trauma.max}}" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="flex-row">
        <div class="flex-col-md12">
            <h1>{{localize "TITLE.BIO"}}</h1>
            <div class="wrapper">
                {{editor content=data.bio.appearance target="data.bio.appearance" button=true owner=owner editable=editable}}
            </div>
        </div>
    </div>

    <div class="flex-row">
        <div class="flex-col-md6">
            <h1>{{localize "BIO.BACKGROUND"}}</h1>
            <div class="wrapper">
                {{editor content=data.bio.background target="data.bio.background" button=true owner=owner editable=editable}}
            </div>
        </div>
        <div class="flex-col-md6">
            <h1>{{localize "BIO.GOAL"}}</h1>
            <div class="wrapper">
                {{editor content=data.bio.personalGoal target="data.bio.personalGoal" button=true owner=owner editable=editable}}
            </div>
        </div>
    </div>
</div>
